company_name = "cloudhelp"
environment  = "dev"
location     = "East US"
owner        = "Placeholder"
cost_centre  = "Engineering"
subscription_id = "2a57ec4f-fc3c-4d10-8190-a963a8147c84"
key_vault_admin_object_id = "<key-vault-administrator-object-id>"